.product-info-button {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-left:40px;
    padding-bottom: 10px;
    padding-right: 40px;
    margin-top:10px;
    font-weight: 700;
    width: 80%;
    border: none;
}

.close {
    margin-left: 20px;
    margin-top: 20px;
}
