.sign-in-page {
    min-height: 100vh;
  }

  .sign-in-page-container {
      margin-top: 25%;
      text-align: center;

  }

  .action-icon {
      max-width: 10%;
      margin-left: auto;
      margin-top: 10%;
      margin-right: auto;
  }

  .logo-image {
    max-width: 50%;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: auto;
}
