@import '../../styles/_globals.scss';

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    width: 100%;
    border-radius: 4px;
    height: auto;
    background-color: white;

}

.card-image {
    object-fit: cover;
    width: 100%;
    height: 100%; /* optional, but in my case it was good */

    


}
.card-image-container {

    position: relative;
    width: 100%;     
    height: 100%;
    overflow: hidden;
    background-size: cover;

    
}
